<h1>About <strike>us</strike>... <i class="fs-4">me</i></h1>
<p>I am working 40 hours a week retail, and in my down time, I have been leaning to code, and build websites. since I have the day job, and life things to do, the updates may be sparce, also I've working on learning javascript, so that has been taking up a fair amount of my time</p>